<script setup lang="ts">
import { ref } from 'vue';
import SearchForm from './components/SearchForm.vue';
import SearchResults from './components/SearchResults.vue';

const results = ref([]);
const loading = ref(false);

const handleSearch = async (query: string) => {
  loading.value = true;
  try {
    // TODO: Implement actual API calls to various Gunpla sites
    // For now, using mock data
    const mockResults = [
      {
        title: "RG 1/144 Nu Gundam",
        price: 45.99,
        shippingCost: 8.99,
        source: "Example Store",
        imageUrl: "https://placeholder.com/300",
        productUrl: "#"
      },
      // Add more mock results as needed
    ];
    
    // Simulate API delay
    await new Promise(resolve => setTimeout(resolve, 1000));
    results.value = mockResults;
  } catch (error) {
    console.error('Search failed:', error);
    // TODO: Add proper error handling
  } finally {
    loading.value = false;
  }
};
</script>

<template>
  <div class="container py-4">
    <h1 class="text-center mb-4">Gunpla Search Aggregator</h1>
    <SearchForm @search="handleSearch" />
    <SearchResults :results="results" :loading="loading" />
  </div>
</template>