<script setup lang="ts">
interface GunplaResult {
  title: string;
  price: number;
  shippingCost: number;
  source: string;
  imageUrl: string;
  productUrl: string;
}

defineProps<{
  results: GunplaResult[];
  loading: boolean;
}>();
</script>

<template>
  <div class="search-results">
    <div v-if="loading" class="text-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    
    <div v-else-if="results.length === 0" class="alert alert-info">
      No results found. Try a different search term.
    </div>
    
    <div v-else class="row row-cols-1 row-cols-md-3 g-4">
      <div v-for="(result, index) in results" :key="index" class="col">
        <div class="card h-100">
          <img :src="result.imageUrl" class="card-img-top" :alt="result.title">
          <div class="card-body">
            <h5 class="card-title">{{ result.title }}</h5>
            <p class="card-text">
              <strong>Price:</strong> ${{ result.price.toFixed(2) }}<br>
              <strong>Shipping:</strong> ${{ result.shippingCost.toFixed(2) }}<br>
              <strong>Total:</strong> ${{ (result.price + result.shippingCost).toFixed(2) }}
            </p>
            <p class="card-text"><small class="text-muted">Source: {{ result.source }}</small></p>
            <a :href="result.productUrl" target="_blank" class="btn btn-primary">View Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.card-img-top {
  height: 200px;
  object-fit: contain;
  padding: 1rem;
}
</style>