<script setup lang="ts">
import { ref } from 'vue';

const searchQuery = ref('');
const emit = defineEmits(['search']);

const handleSearch = () => {
  emit('search', searchQuery.value);
};
</script>

<template>
  <div class="search-form mb-4">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        v-model="searchQuery"
        placeholder="Enter Gunpla model name..."
        @keyup.enter="handleSearch"
      />
      <button class="btn btn-primary" @click="handleSearch">
        Search
      </button>
    </div>
  </div>
</template>